# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*

# React build output
/build

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
